<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <label>
          First Name:
          <input id="firstName" type="text" formControlName="firstName" required/>
        </label>
      </div>
      <div class="col-sm-6">
        <label>
          Last Name:
          <input type="text" formControlName="lastName">
        </label>
      </div>
      <!-- Validation Row Starts -->
      <div class="col-sm-6">
        <span class="alert alert-danger">First name is mandatory.</span>
      </div>
      <div class="col-sm-6">
        <span class="alert alert-danger">Last name is mandatory.</span>
      </div>
      <!-- Validation Row Ends -->
    </div>
  </div>
  <div formGroupName="address">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Address</h3>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <label>
            Street:
            <input type="text" formControlName="street">
          </label>
        </div>
        <div class="col-sm-6">
          <label>
            City:
            <input type="text" formControlName="city">
          </label>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <label>
            State:
            <input type="text" formControlName="state">
          </label>
        </div>
        <div class="col-sm-6">
          <label>
            Zip Code:
            <input type="text" formControlName="zip">
          </label>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <!-- formArrayName is the component name initialized in the formGroup. -->
  <!-- phoneArrayItems is the arrayItem defined with the data structure of the form group elements in the array . -->
  <div formArrayName="phoneArray">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3>Phone Numbers:</h3>
        </div>
      </div>
    </div>

    <div class="row">
          <div class="col-sm-2">
            
          </div>
      <div class="col-sm-5">
        <button (click)="addPhone()">Add Phone</button>
      </div>
      <div class="col-sm-5">
        <button (click)="deletePhone()">Delete Phone</button>
      </div>
    </div>

    <div *ngFor="let phoneArrayItem of phoneArray.controls; let phoneIndex=index">
      <!-- The formgroup name inside the form array is named with the index of the formArray -->
      <div [formGroupName]="phoneIndex">
        <div class="row">
          <div class="col-sm-2">
            <input type="checkbox" formControlName="id" />
          </div>
          <div class="col-sm-5">
            <input type="text" formControlName="areaCode" />
          </div>
          <div class="col-sm-5">
            <input type="text" formControlName="extension" />
          </div>
          </div>
        </div>
      </div>

    </div>
    <br>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>

    <p>
      <button (click)="updateProfile()">Update Profile</button>
    </p>

    <br>
    <br>
    <p>Form Model Value : {{ formModelValue }} </p>
    <p>Form Model Value : {{ this.profileForm.value | json }} </p>

</form>
